# --------------------------------------
# Laravel / PHP
# --------------------------------------

/vendor/
composer.phar
.phpunit.result.cache
.php-cs-fixer.cache

# Environment
.env
.env.*
!.env.example

# Cache / Logs / Storage except gitignore placeholders
/storage/*.key
/storage/app/public
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore


# --------------------------------------
# Frontend / Node / Build
# --------------------------------------

/node_modules/
/public/hot
/public/storage
/public/build
/public/vendor/

# Если есть Mix — раскомментируй
# /public/mix-manifest.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# --------------------------------------
# IDE / OS
# --------------------------------------

/.idea/
/.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db


# --------------------------------------
# Virtual Machines / Docker
# --------------------------------------

/.vagrant
Homestead.yaml
Homestead.json
# docker-compose.override.yml
# /docker/*.env


# --------------------------------------
# Дополнительные файлы
# --------------------------------------

/database.sql
/database_*.sql

# Uploads
/public/uploads/

